body {
    background: #08b83d;
}

@media(max-width: 320px) {
    body {
        background: rgb(221, 224, 13);
    }
}

@media(min-width: 700px) and (max-width: 1001px) {
    body {
        background: rgb(61, 5, 167);
    }
}